<% include ./includes/header %>
<% include ./includes/navigation %>
<div class="jumbotron-fluid">
    <!-- <h1 class="display-4">The hottest Products</h1> -->
    <img class="img-fluid"
        src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/549058-istock-471884456.jpg?itok=rHVXk8Rq">
    <!-- <a class="btn btn-lg btn-primary" href="#" role="button">Readmore</a> -->
</div>
<% include ./includes/footer %>