<% include ../includes/header %>
<% include ../includes/navigation %>

<div class="container">
    <% if(orders.length > 0) {%>
        <% orders.forEach(order => { %>
                <h1><%= order.id %></h1>
                <% order.products.forEach(product => { %>
                    <div class="row">
                        <div class="col">
                            <h1><%= product.name %></h1>
                        </div>
                        <div class="col">
                            <h1><%= product.orderItem.quantity %></h1>
                        </div>
                    </div>
                <% })%>
        <% });%>
    <% }else{ %>
        <h1>No Products in Orders!</h1>
    <% }%>
</div>

<% include ../includes/footer %>