<% include ../includes/header %>
<% include ../includes/navigation %>

<div class="container-fluid orders formShallow formLimited" style="padding: 3rem;">
    <% if(orders.length > 0) {%>
    <% orders.forEach(order => { %>
    <h3><a href="/orders/<%= order.id %>">INOVICE</a></h3>
    <br>
    <% order.orderItems.forEach(item => { %>
    <div class="row">
        <div class="col">
            <h5>Product: <%= item.productName %></h5>
        </div>
        <div class="col">
            <h5>Quantity: <%= item.quantity %></h5>
        </div>
    </div>
    <% })%>
    <p class="text-right"><%= new Date(order.createdAt).toLocaleString() %></p>
    <hr>
    <% });%>
    <% }else{ %>
    <div class="text-center">
        <h1>No Products in Order!</h1>
    </div>
    <% }%>
</div>

<% include ../includes/footer %>